<div class="form-outline m-4">
  <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
</div>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th scope="col"></th>
    <th class="cursor-pointer" scope="col" *ngFor="let col of tableColumn" (click)="col.nestedColumns ? sortData(col.columnKey, col) : sortData(col.columnKey)">{{col.columnName}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of paginatedData | filter: searchText">
    <td>
      <button class="btn btn-outline-info" *ngIf="!data.editData" (click)="editTableData(data.id)">Edit</button>
      <button class="btn btn-outline-info" *ngIf="data.editData" (click)="updateTableData(data.id)">Update</button>
      <button class="btn btn-outline-info ms-1 mt-1" *ngIf="data.editData" (click)="cancelUpdate(data.id)">Cancel</button>
    </td>
    <ng-container *ngFor="let col of tableColumn">
      <td *ngIf="col.image">
        <img [src]="data[col.columnKey]" width="100" height="100">
      </td>
      <td *ngIf="!col.image && !col.nestedColumns">
        <input class="form-control" [type]="getInputType(data[col.columnKey])" [(ngModel)]="data[col.columnKey]" *ngIf="data.editData"/>
        <span *ngIf="!data.editData">
          {{data[col.columnKey]}}
        </span>
      </td>
      <td *ngIf="col.nestedColumns">
        {{getNestedProperty(data, col)}}
      </td>
    </ng-container>
  </tr>
  <tr *ngIf="(paginatedData | filter: searchText).length === 0">
    <td [colSpan]="tableColumn.length">No Record Found</td>
  </tr>
  </tbody>
</table>
<nav>
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link cursor-pointer" (click)="onPageChanged(currentPage - 1)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of getPages()" [class.active]="currentPage === page">
      <a class="page-link cursor-pointer" (click)="onPageChanged(page)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
      <a class="page-link cursor-pointer" (click)="onPageChanged(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>
